<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MouldSpellCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MouldSpellCreator.Properties.Settings>
            <setting name="LastUsedFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPosition" serializeAs="String">
                <value>100,100</value>
            </setting>
            <setting name="LastSize" serializeAs="String">
                <value>1000,800</value>
            </setting>
            <setting name="LastFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
        </MouldSpellCreator.Properties.Settings>
    </userSettings>
</configuration>